@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Bricolage Grotesque', 'Sans-Serif';
    scrollbar-width: 0rem;
}

@media only screen and (max-width:22em) {
    html{
      font-size: 55%;
    }
  }